@model IntelitraderChallenge.Models.RankingFile

<h2>Coloque um arquivo</h2>

@using (Html.BeginForm("Rank", "Ranking", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ranking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.File, "Arquivo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="File" name="File" class="form-control" required />
            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin-top: 30px;">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-md">Rankear</button>
        </div>
    </div>

</div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
